// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container-left{
    margin: 0 100px 0 100px;
}
.search-card{
    margin: 60px 0 60px 0;
    padding: 10px;
    border-radius: 30px;
}

#test-card{
    .card-body{
        .card-text{
            color: $blue;
        }
    }
}